/* Global styles...........*/
html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}
body{
  line-height: 1.5;
  margin: 20px;
}
header{
  background-color: rgb(3, 163, 223);
  padding: 25px;
}
header img{
  width: 250px;
}
h1{
  font-family: 'Ruda', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 35px;
  color: rgb(68, 68, 68);
  display: block;
  text-align: center;
}
h2{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
h3{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
h4{
  font-family: 'Open Sans Condensed', sans-serif;
}
p{
  font-family: 'Open Sans Condensed', sans-serif;
}
a{
  color: rgb(236, 183, 34);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 110%;
  text-decoration: none;
}
a:hover{
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 110%;
  text-decoration: none;
}
.nav-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.nav-item{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}
footer{
  background-image: url("https://raw.githubusercontent.com/UWFront-End-Cert/html100/master/lesson07-styleguide/styleguide%20design%20elements/footerImage.jpg");
  padding: 30px;
}
footer img{
  width: 200px;
}
footer a{
  padding-right: 10px;
  padding-bottom: 10px;
}
  /* Home page...........*/
  .about-us{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .our-instructors{
    display: inline-grid;
    grid-template-columns: repeat (3, 100px);
    grid-template-rows: auto;
    grid-row-gap: 50px;
    grid-column-gap: 80px;
    background-color: rgb(27, 68, 127);
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .instructors-intro{
    grid-row: 1 / 2;
    grid-column: 1 /4;
    color: rgb(236, 183, 34);
    text-align: center;
  }
  .derek{
    grid-row: 2 / 3;
    grid-column: 1 /2;
    text-align: center;
    background-color: rgb(236, 183, 34);
    color: rgb(27, 68, 127);
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .amy{
    grid-row: 2 / 3;
    grid-column: 2 /3;
    text-align: center;
    background-color: rgb(236, 183, 34);
    color: rgb(27, 68, 127);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .nathan{
    grid-row: 2 / 3;
    grid-column: 3 /4;
    text-align: center;
    background-color: rgb(236, 183, 34);
    color: rgb(27, 68, 127);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .nondiscriminatory-policy{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /* Lessons page...........*/
